*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(190,188,224,1) 0%, rgba(198,225,240,1) 100%);
}

.container__flex{
    display: flex;
    height: 750px;
    width: 50%;
    background-color: #358a13;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    border-radius: 20px;
    outline: 3px solid #21550c;
}

.container__flex--titulo{
    background-color: #21550c;
    margin:10px;
    margin-bottom: 10%;
    padding: 0 120px;
    position: relative;
    top:30px;
    border-radius: 10px;
    outline: 2px solid #153808;
    color:white;
}

.container__flex--cuerpo{
    background-color: #21550c;
    padding: 20px 190px;
    border-radius: 10px;
    outline: 2px solid #153808;
    color: white;
    text-align: center;
}

.container__flex--cuerpo-input{
    margin: 10px;
    border:none;
    outline: none;
    height: 25px;
    border-radius: 4px;
    color: #FFF;
    background-color: #153808
}
.container__flex--cuerpo-input:focus{
    background-color: #5c9746;
    border-bottom: 3px solid greenyellow;
    transition: 0.5s;
}

h1{
    margin: 30px;
}

label{
    margin:5px;
}

#textarea{
    margin:5px;
    width: 500px;
    resize: none;
    border-radius: 4px;
    background-color: #153808;
    border:none;
    outline: none;
    color:white;
    font-size: 20px;
}

#textarea:focus{
    border-bottom: 3px solid greenyellow;
    transition: 0.5s;
    background-color: #5c9746;
}

button{
    border: none;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #0d2205;
    color: #FFF;
    font-weight: 700;
}

button:hover{
    background-color: #35741c;
    outline: 1px solid #FFF;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

hr{
    margin: 5px;
}
